%reportpage
  %iframe{:allowscriptaccess => "always", :allowFullScreen => "true",name: "stream_frame", class:"stream_frame", :src => surf_spot.live_stream.live_stream_url, :width => "640"}
  //%iframe{:allowscriptaccess => "always", :allowFullScreen => "true",name: "stream_frame", class:"stream_frame", :src => "http://mobile.surfline.com/#!/surf-report/ocean-beach-sf-northern-california/4127", :width => "640"}
    //%li= link_to raw('<strong>Live Stream</em></strong>'), surf_spot.live_stream.live_stream_url, :title => 'Stream Link'
