.report-section
  %h3 Report
  %ul.report-details
    %li.report=@surf_spot.latest_report.reportdate
    %li.report=@surf_spot.latest_report.generalcondition[0].humanize
    %li.report=@surf_spot.latest_report.surfrange[0] + ', occassionally ' + @surf_spot.latest_report.occasional
