.report-section
  %h3.report-label Report
  %ul.report-details
    - if surf_spot.latest_report
      %li.report=surf_spot.latest_report.reportdate
    - if surf_spot.latest_report.generalcondition[0]
      %li.report=surf_spot.latest_report.generalcondition[0].humanize
    - if surf_spot.latest_report.surfrange[0]
      %li.report=surf_spot.latest_report.surfrange[0] + ', occassionally ' + surf_spot.latest_report.occasional
