// Place all the styles related to the forecast controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.forecast-label {
  float: left;
  padding-right: 1%;
}
.forecast-start-date {
  clear: both;
}
.refresh-forecast {
  float: right;
}
