// Place all the styles related to the surf_spot controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
$screen-lg-min: 1080px;
$screen-md-min: 736px;
$screen-sm-min: 10px;

/* Extra small devices (phones, less than 768px) */
/* No media query since this is the default in Sass Bootstrap */

/* Small devices (tablets, 768px and up) */
@media (min-width: $screen-sm-min) {
  body {
    background-color: red;
  }
  .dropdown-menu{
    background-color: lightgrey;
  }
  .spot-name{
    background-color: lightgrey;
  }
}

/* Medium devices (desktops, 992px and up) */
@media (min-width: $screen-md-min) {
  body {
    background-color: orange;
  }
  .dropdown-menu{
    background-color: lightgoldenrodyellow;
  }
  .spot-name{
    background-color: lightgoldenrodyellow;
  }
}

/* Large devices (large desktops, 1200px and up) */
@media (min-width: $screen-lg-min) {
  body {
    background-color: lightgreen;
  }
  .dropdown-menu{
    background-color: lightseagreen;
  }
  .spot-name{
    background-color: lightseagreen;
  }
  .header .navigation ul.primary-menu > li a {
    font-size: 1.145em;
    padding: 0 1.24em;
  }
}

.forecast-tile-day {
  border: solid blue 1px;
  font-size: .8em;
  height: 250px;
  padding: 5px;
  text-align: center;
}

.forecast-section {
  width: 600px;
  overflow: auto;
  margin-top: 2%;
  border: 5px solid black;
}

.forecast-table {
  width: 80%;
  overflow: auto;

}

.show-spot-page {
  width: 90%;
  min-height: 600px;
}

.poor {
  background-color: #ff8888;
}

.poor-to-fair {
  background-color: pink;
}

.fair {
  background-color: beige;
}

.fair-to-good {
  background-color: goldenrod;
}

.good {
  background-color: gold;
}

.epic {
  background-color: #ffd715;
}

.stream_frame {
  display: inline-block;
  padding: 5%;
  width: 600px;
  height: 400px;

}

.report-section {
  display: inline-block;
  float: left;
  clear: both;

  ul.report-details {

  }
  li.report {
    list-style-type: none;
  }

}

.refresh-buttons {
  display: inline-block;
  padding: 3px;
  float: left;
  clear: both;
}

#spot_comment {
  display: inline-block;
  padding: 3px;
  float: left;
  clear: both;
  color: #428bca;
}

.spot-name {
  //display: inline-block;
  padding: 10px;

}

img.tide_image, img.wind_image {
  width: 70%;
  height: 150px;
  padding: 5px;
}

.left-header {
  display: inline-block;
  float: left;
}

.cam-iframe {
  float: left;
  clear: both;
}