// Place all the styles related to the surf_spot controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.forecast-tile-day {
  border: solid blue 1px;
  font-size: .8em;
  height: 250px;
  padding: 5px;
  text-align: center;
}

.forecast-section {
  width: 600px;
  overflow: auto;
  margin-top: 2%;
  -webkit-overflow-scrolling: touch;

}

.forecast-table {
  width: 80%;

}

.show-spot-page {
  width: 90%;
  min-height: 600px;
}

.poor {
  background-color: #ff8888;
}

.poor-to-fair {
  background-color: pink;
}

.fair {
  background-color: beige;
}

.fair-to-good {
  background-color: goldenrod;
}

.good {
  background-color: gold;
}

.epic {
  background-color: #ffd715;
}

.stream_frame {
  display: inline-block;
  padding: 5%;
  width: 600px;
  height: 400px;

}

.report-section {
  ul.report-details {

  }
  li.report {
    list-style-type: none;
  }

}

.refresh-buttons {
  display: inline-block;
  padding-bottom: 3px;
}

.spot-name {
  display: inline-block;

}

img.tide_image, img.wind_image {
  width: 70%;
  height: 150px;
  padding: 5px;
}

.left-header {
  display: inline-block;
  float: left;
}

.cam-iframe {
 float:left;
  clear:both;
}