%body
  %header
    .left-header
      = link_to 'Linea de Surf', root_path
      |
      - if user_signed_in?
        = link_to 'Logout', destroy_user_session_path, method: :delete
      = render partial: 'surf_spots/spot_selector'
